{% extends "base.html" %} {% block title %} Profile {% endblock title %}
{% block css %}
<link rel="stylesheet" href="/static/adminprofile.css" />
{% endblock css %} {% block body %}

<main>
    <div class="container">
        <div class="header">
            <h1 style="text-align: center; color:black">@{{request.user}}</h1>
        </div>
        <div class="profile-info" id="profileInfo">
            <div class="forms">
                <form action="/admin/" method="post">
                    {% csrf_token %}
                    <button type="submit" style="background-color: #7d009f;">Go to Admin Page</button>
                </form>

                <form action="/logout/" method="post">
                    {% csrf_token %}
                    <button style="background-color: #f44336" type="submit">
                        Log Out
                    </button>
                </form>
            </div>
        </div>
        <h2 style="text-align: center;cursor:pointer" onclick="showadminblogs()">Admin Blogs</h2>
        <div class="adminblogs" id="adminbblogs">
            {% for blog in blogs %}

            <div id="blog{{blog.id}}" class="blog-item">
                <div>
                    <h3>{{blog.title}}</h3>
                    <small>Posted on: {{blog.date}}</small>
                    <hr />
                    <p style="text-align: justify">{{blog.content|linebreaksbr}}</p>
                </div>
                <hr />
                <button onclick="deletePost('{{blog.id}}')">Delete</button>
            </div>

            {% endfor %}
        </div>

        <h2 style="text-align: center;cursor:pointer" onclick="showreportedblogs()">Reported Blogs</h2>
        <div class="adminblogs" id="reportedblogs">
            {% for blog in reportedblogs %}

            <div id="blog{{blog.id}}" class="blog-item">
                <div>
                    <h3>{{blog.title}}</h3>
                    <small>{{blog.user_name}}</small> | <small>Posted on: {{blog.date}}</small>
                    <hr />
                    <p style="text-align: justify">{{blog.content|linebreaksbr}}</p>
                </div>
                <hr />
                <button onclick="deletePost('{{blog.id}}')">Delete</button>
            </div>

            {% endfor %}
        </div>
    </div>
</main>

{% endblock body %}

{% block js %}
<script>
    function showadminblogs() {
        var toggle = document.getElementById("adminbblogs").style.display;
        if (toggle == 'block') {
            document.getElementById("adminbblogs").style.display = 'none';
        }
        else {
            document.getElementById("adminbblogs").style.display = 'block';
        }
    }
    function showreportedblogs() {
        var toggle = document.getElementById("reportedblogs").style.display;
        if (toggle == 'block') {
            document.getElementById("reportedblogs").style.display = 'none';
        }
        else {
            document.getElementById("reportedblogs").style.display = 'block';
        }
    }
    function deletePost(id) {
        if (
            confirm(
                "Are you sure you want to delete this post? This action cannot be undone."
            )
        ) {
            fetch("/profile/modify-blog/", {
                method: "DELETE",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify({ id: id }),
            })
                .then((response) => {
                    if (response.ok) {
                        document.getElementById("blog" + id).remove();
                        alert("Blog deleted.");
                    } else {
                        alert("Failed to delete the blog.");
                    }
                })
                .catch((error) => {
                    console.error("Error:", error);
                    alert("An error occurred while deleting the blog.");
                });
        }
    }
</script>

{% endblock js %}