{% extends "base.html" %} {% block title %} Profile {% endblock title %}
{% block css %}
<link rel="stylesheet" href="/static/profile.css" />
{% endblock css %} {% block body %}

<main>
  <div class="container">
    <div class="header">
      <h1>@{{request.user}}</h1>
    </div>
    <div class="profile-info" id="profileInfo">
      <p>
        <b><span id="profileName">{{request.user.get_full_name}}</span></b>
      </p>
      <p>
        <span id="profileEmail">{{request.user.email}}</span>
      </p>
      <p style="margin-top: 15px;">
        <span id="profileBio">Passionate web developer and tech enthusiast. Love creating beautiful
          and functional web pages.</span>
      </p>
      <div class="forms">
        <form action="" method="post">
          {% csrf_token %}
          <button type="button">Edit Profile</button>
        </form>
        <form action="/logout/" method="post">
          {% csrf_token %}
          <button style="background-color: #f44336" type="submit">
            Log Out
          </button>
        </form>
      </div>
    </div>
    <h2>Blogs Posted</h2>

    <div id="confirm" style="visibility: hidden;">
      <p class="span">are you sure you want to delete?</p>
      <div class="conbtn">
        <button type="button" id="cancel" class="confirmbtn" style="background-color: #f44336;">Back</button>
        <button type="button" id="yes" class="confirmbtn" style="background-color: #45a049;">Confirm</button>
      </div>
    </div>

    <div class="blogs">
      {% for blog in blogs %}
      <div class="blog-item">
        <div>
          <div id="blog-header" style="display: flex; justify-content: space-between;">
            <div class="name">
              <h3 class="blog{{blog.id}}">{{blog.title}}</h3>
              <input type="text" id="title{{blog.id}}" class="blog{{blog.id}}" value="{{blog.title}}"
                style="display: none;" required /><br>
              <small>Posted on: {{blog.date}}</small>
            </div>
            <div class="dropdown">
              <a class="button">
                <img onclick="dropdown('{{blog.id}}')" src="\static\burger.png" alt="Menu" style="width: 30px; height: 20px;">
              </a>
              <ul id="dropdown{{blog.id}}">
                <li><a onclick="editblog('{{blog.id}}')">Edit blog</a></li>
                <li><a onclick="deleteblog('{{blog.id}}')">Delete blog</a></li>
                <li><a id="visibility" onclick="">
                    {% if blog.ananymous %}
                    Ananymous
                    {% else %}
                    Not Ananymous
                    {% endif %}
                </a></li>
              </ul>
            </div>
          </div>
          <hr />
          <p class="blog{{blog.id}}" style="text-align: justify;">{{blog.content|linebreaksbr}}</p><br>
          <textarea id="content{{blog.id}}" rows="10" class="blog{{blog.id}}" style="display: none;"
            required>{{blog.content}}</textarea>
        </div>
        <div id="updatebtns" class="blog{{blog.id}}" style="display: none;">
          <button type="button" onclick="editblog('{{blog.id}}')">Cancel</button>
          <button type="button" onclick="updateblog('{{blog.id}}')" style="background-color: #4a54e1;">Update</button>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</main>

{% endblock body %}

{% block js %}

<script src="\static\profile.js"></script>

{% endblock js %}